.forms-container h2{
    display: block;
    font-size: 20px;
    color: rgb(84, 105, 212);
}
.form-header{
    display: flex;
   align-items: center;
}
.forms-container{
padding: 1rem 2rem;
}
button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
.login-container{
    position: absolute;
    top: 25%;
    left: 0;
    right:0;
    bottom:25%;
    margin: 0px auto;
    width: 100%;
    max-width: 448px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
.input{
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.form-control:focus {
    color: #282828;
    background-color: #FFFFFF;
    border-color: #DD4F05;
}
label {
    font-size: .95rem;
    font-weight: 400;
}
button{
    box-shadow:none !important;
    outline:none !important;
    padding: 12px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 2rem;
    width: 100%;
    color:#FFFFFF;
    border: none;
    background-color: rgb(84, 105, 212);
}

